In [2]:
#엑셀 등에서 판다스로 데이터를 가져온 상태에서 진행
#예) df1(직원명단), df2(수료자 명단) - 직원 명단에 수료여부를 기입하는 작업

#df1의 직번을 기준으로 df2에서 동일한 직번을 찾아 같은 행의 수료여부 데이터를 df1의 마지막 컬럼에 추가
df_join = df1.join(df2.set_index('직번')['수료여부'], on='직번')
df_join

In [ ]:
#위에서 만들어진 df_join에서 수료여부가 수료가 아닌 행(미수료)만 추출
df_join = df_join.query("수료여부 != '수료'")
df_join.to_excel('data_join.xlsx')

In [ ]:
import pandas as pd
df2 = pd.read_clipboard()

In [27]:
df1

,부서,직번,이름,생년월일,직책,직무,입사일,핸드폰번호,근무지,담당업무,수료과정
2,(포항)제강설비부 크레인정비섹션,578701,김재동,19810804,일반,전기정비직,2005.06.20,1095458184,포항,[STS제강크레인전기파트] STS제강 크레인 (안전짝궁 박준섭대리),NaN
6,(포항)압연설비부 후판정비섹션,575893,이성호,19811202,일반,기계정비직,2004.06.07,1064620717,포항,[2후판전단기계] 2후판 Hot Shear (2후판 전단기계 정비실),NaN
24,(포항)압연설비부 열연정비섹션,611568,김형두,19860106,일반,기계정비직,2011.07.04,1048047909,포항,"[2열연 DC기계]DC 본체 & S-CAR, C-CAR// 포스코 노동조합 대의원,...",NaN
53,(포항)압연설비부 후판정비섹션,632423,김원석,19970404,일반,기계정비직,2019.10.21,1040974212,포항,"[2후판 전단 기계] 2후판 Crop Shear, Dividing Shear, 표시...",NaN
67,(포항)압연설비부 열연정비섹션,567372,김현철,19711023,일반,기계정비직,2002.08.12,1038206877,포항,[2열연 FM기계] 연연속 Coil Box~ Leveler 설비,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12462,(포항)제선설비부 화성정비섹션,430233,최창헌,19640308,일반,전기정비직,1988.02.08,1035347971,포항,"1 coke전기정비 오븐,화성 담당",NaN
12491,(포항)압연설비부 냉연정비2섹션,631257,박진석,19970404,일반,기계정비직,2018.06.18,1030507817,포항,[2PCM기계파트]Looper설비,NaN
12504,(포항)제선설비부 에너지정비섹션,617865,김찬우,19910227,일반,전기정비직,2012.03.19,1020468675,포항,[산소전기정비파트]2산소공장 전기정비/나의안전짝꿍(황희영),NaN
12506,(포항)제선설비부 발전정비섹션,619920,오상욱,19900113,일반,전기정비직,2012.07.16,1028777157,포항,복합발전파트 전기정비(제어정비),NaN
12508,(포항)제선설비부 에너지정비섹션,574970,박성욱,19790906,일반,기계정비직,2004.06.07,1041979436,포항,"[산소기계정비파트]#13,14 Plant 담당/나의안전짝꿍(양해용)",NaN

In [5]:
df2

      성명 수료여부
0   홍길동1   수료
1   홍길동2  미수료
2   홍길동3   수료
3   홍길동4  미수료
4   홍길동5   수료
5   홍길동6  미수료
6   홍길동7   수료
7   홍길동8  미수료
8   홍길동9   수료
9  홍길동10  미수료

In [10]:
df_join = df1.join(df2.set_index('성명')['수료여부'], on='성명')
df_join

       성명    직번 수료여부
0    홍길동1  1001   수료
1    홍길동2  1002  미수료
2    홍길동3  1003   수료
3    홍길동4  1004  미수료
4    홍길동5  1005   수료
5    홍길동6  1006  미수료
6    홍길동7  1007   수료
7    홍길동8  1008  미수료
8    홍길동9  1009   수료
9   홍길동10  1010  미수료
10  홍길동11  1011  NaN

In [23]:
df4 = df_join[(df_join['수료여부'] != 'NaN')] = 'aa'
df4

'aa'

In [ ]:
df[(df['4분기'] >= 0.5)] = 10     # '4분기'컬럼 中 '0.5'보다 쿠고나 같은 데이터를 10으로 일괄변경
df

In [ ]:
cs_name = driver.find_element(By.CSS_SELECTOR,'#grid > tbody > tr:nth-child(2) > td:nth-child(3) > a').text

In [3]:
import os
import pandas as pd
files_Path = "D:/Downloads/" # 파일들이 들어있는 폴더
file_name_and_time_lst = []
# 해당 경로에 있는 파일들의 생성시간을 함께 리스트로 넣어줌. 
for f_name in os.listdir(f"{files_Path}"):
      written_time = os.path.getctime(f"{files_Path}{f_name}")
      file_name_and_time_lst.append((f_name, written_time))
# 생성시간 역순으로 정렬하고, 
sorted_file_lst = sorted(file_name_and_time_lst, key=lambda x: x[1], reverse=True)
# 가장 앞에 이는 놈을 넣어준다.
recent_file = sorted_file_lst[0]
recent_file_name = recent_file[0]
print("최근 다운로드한 파일명: ", recent_file_name)

# 최근 다운로드 한 파일 판다스로 불러오기
df = pd.read_excel(r'D:\Downloads\{}'.format(recent_file_name))

최근 다운로드한 파일명:  설문 결과 리스트 (4).xls

In [4]:
import win32com.client
import pyautogui as pg


excel = win32com.client.Dispatch('Excel.Application')
excel.Visible = True

file_name = 'D:\\Downloads\\' + recent_file_name
wb = excel.Workbooks.Open(file_name)

In [9]:
ws = wb.Worksheets('First Sheet')

In [25]:
wb_total = excel.Workbooks.Open('d:/종합.xlsx')
ws_total = wb_total.Worksheets('First Sheet')

In [10]:
#인원수 카운트
i = 1
cell_value = ws.Cells(i, 1).Value

while cell_value != None :
      i+=1
      cell_value = ws.Cells(i,1).Value

max_row = i-4

print(max_row)

9

In [11]:
cs_name = recent_file_name.rstrip('.xls')

In [14]:
ws.Rows(1).Delete()
ws.Rows(2).Delete()

True

In [16]:
#1열에 과정명 입력
for j in range(max_row):
      ws.Cells(j+2,1).Value = cs_name

In [26]:
ws.Range(ws.Cells(2,1), ws.Cells(10,max_row)).Copy()

True

In [ ]:
종합 엑셀의 행 수를 카운트 하여 아래 적용

In [27]:
ws_total.Range(ws_total.Cells(2,1), ws_total.Cells(10,max_row)).Select()
ws_total.Paste()

In [24]:
wb.Save()

In [25]:
wb.Close()